<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <title>Short.nr</title>
    </head>
    <body style="background: linear-gradient(to right, rgba(104,178,227,1) 0%, rgba(89,154,194,1) 58%, rgba(54,112,150,1) 100%);">
        <div class='container' style="min-height: 100%; min-height: 100vh; display: flex; align-items: center;">
            <div class='row row-cols-1 justify-content-center' style="width: 100%;">
                <div class="col col-10 rounded" style="margin-bottom: 20px; background: linear-gradient(to right, rgba(240,143,141,1) 0%, rgba(224,125,123,1) 58%, rgba(212,114,112,1) 100%); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)">
                    <form action="{{ url_for('handle_url') }}" method="post" class="text-center">
                        <div class="form-group">
                            <h1>Short.nr</h1>
                            <input type="text" class="form-control" name="url_input" placeholder="Enter URL">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Submit</button>
                    </form>
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
