<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Short.nr</title>
    </head>
    <body>
        <div class="container main-container">
            <div class="row main-row row-cols-1 justify-content-center">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
