{% extends 'base.html' %}

{% block body %}
<div class="col column col-10 rounded">
    <form action="{{ url_for('handle_url') }}" method="post" class="text-center">
        <div class="form-group">
            <h1 class="main-font">Short.nr</h1>
            <input type="text" class="form-control" name="url_input" placeholder="Enter URL">
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
    </form>
</div>
{% if shortened: %}
<div class="col column col-10 col-md-8 col-lg-6 rounded">
    <h1>Shortened URL</h1>
    <p class="rounded text-area">{{shortened}}</p>
</div>
{% endif %}
{% endblock %}
